<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <connectionStrings>
        <remove name="mssqldev" />
        <add connectionString="Server=mssqldev.liminalitystudios.local;Database=iis_dev.mdf;User ID=liminality\system.admin;Password=Hasemi8086" name="RemoteSqlServer (LSDSMSSQL)" />
    </connectionStrings>
</configuration>
